:root{

--color-primario:#2E4A92;
--color-secundario:#243B7A;
--color-fondo:#F2F2F2;
--color-blanco:#ffffff;
--color-texto:#333;

--color-verde:#2ecc71;

--sombra:0 6px 18px rgba(0,0,0,0.08);
--radio:12px;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Segoe UI',Tahoma,sans-serif;
background:var(--color-fondo);
color:var(--color-texto);

}

/* HEADER */

.header{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 40px;

background:var(--color-primario);
color:white;

}

.logo{
font-weight:bold;
font-size:1.3rem;
}

.back-btn{
color:white;
text-decoration:none;
}


/* HERO */

.hero{

text-align:center;
padding:40px 20px;

background:linear-gradient(
to right,
var(--color-primario),
var(--color-secundario)
);

color:white;

}


/* FILTRO */

.filter-section{

padding:30px;
text-align:center;

}

.filter-section input{

width:60%;

padding:12px 18px;

border-radius:30px;
border:none;

box-shadow:var(--sombra);

outline:none;

}


/* TABLA */

.table-section{
padding:40px;
}

table{

width:100%;
border-collapse:collapse;

background:white;

border-radius:var(--radio);

overflow:hidden;

box-shadow:var(--sombra);

}

thead{

background:var(--color-primario);
color:white;

}

th,td{

padding:15px;
text-align:left;

}

tbody tr{

border-bottom:1px solid #eee;

}


/* DOCUMENTOS */

.doc-btn{

padding:6px 14px;

border:none;

background:var(--color-secundario);
color:white;

border-radius:20px;

cursor:pointer;

font-size:0.8rem;

transition:0.3s;

}

.doc-btn:hover{

background:var(--color-primario);

}


.documents-row{
display:none;
background:#f9fbff;
}

.documents-row.open{
display:table-row;
}

.documents{
padding:15px 20px;
}

.documents p{
margin-bottom:8px;
font-size:0.9rem;
}


/* STATUS */

.status{

padding:5px 12px;

border-radius:20px;

font-size:0.8rem;
font-weight:bold;

}

.status.active{

background:#eafaf1;
color:var(--color-verde);

}


/* BOTONES */

.edit-btn{

background:#F4B400;
border:none;

padding:6px 10px;

border-radius:6px;

cursor:pointer;

font-size:12px;

}

.delete-btn{

background:#ef4444;

color:white;

border:none;

padding:6px 10px;

border-radius:6px;

cursor:pointer;

font-size:12px;

}

.edit-btn:hover,
.delete-btn:hover{

opacity:0.8;

}


/* RESPONSIVE */

@media (max-width:900px){

.filter-section input{
width:90%;
}

table{
font-size:0.8rem;
}

}